src/main/resources/hello.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="helloEntries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="hello" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hello">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
